
<div class="card">
<mat-card class="example-card">
  
    <mat-card-title>
        Shopping Cart
    </mat-card-title>

   
 
    <mat-card-content *ngFor="let item of items" >
        
        <div class="cardInner" >
        <mat-list role="list">
            <mat-list-item role="listitem">
                &nbsp;   <tr>
                <img id="card-image" mat-card-image  src='{{ "assets/images/" + item.image+ ".jpg" }}' alt="{{item.image}}" width="70px" height="70px"/>
            </tr>
            &nbsp; &nbsp;&nbsp;<tr>   <span>{{ item.medicine_name }} </span>  &nbsp; </tr>
            &nbsp;   <div class="price">
                <span >   Rs. {{ item.price }}</span>
            </div> &nbsp;

            </mat-list-item>
        
          </mat-list>
       
        </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/userpage" >Add More Medicine</button>

    
    
     
      <button  mat-raised-button color="primary" *ngIf="isEmptyObject(items)" routerLink="/finalorderpage">Proceed for Payment</button>
    
    </mat-card-actions>
  </mat-card>

</div>
<router-outlet></router-outlet>